/* Palette URL: http://paletton.com/#uid=55j0u0kcZeS6LvMbqmvjaaOp26t */

@color-primary-0: #663C4D;  /* Main Primary color */
@color-primary-1: #D9ACBE;
@color-primary-2: #9A6379;
@color-primary-3: #4A1E30;
@color-primary-4: #2C0A18;

@color-secondary-1-0: #492F4E;  /* Main Secondary color (1) */
@color-secondary-1-1: #A184A7;
@color-secondary-1-2: #6F4D76;
@color-secondary-1-3: #331839;
@color-secondary-1-4: #1D0822;

@color-secondary-2-0: #765046;  /* Main Secondary color (2) */
@color-secondary-2-1: #FDD2C8;
@color-secondary-2-2: #B38073;
@color-secondary-2-3: #562C23;
@color-secondary-2-4: #33130B;

html, body {
  height: 100%;
  margin: 0px;
  width: 100%;
  font-family: monospace;
  font-size: 1.1em;
  color: @color-secondary-1-4;
}

body > .ember-view,
#layout {
  height: 100%;
  width: 100%;
}

#layout,
#layout tr,
#layout tr td {
  margin: 0px;
  padding: 0px;
}

#layout tr {
  vertical-align: top;
}

a {
  color: @color-secondary-2-0;
}

#menu a {
  background-color: @color-secondary-1-1;
  display: inline-block;
  font-weight: bold;
  line-height: @menu_link_line_height;
  padding: 0px 1em;
  text-decoration: none;
}

#menu a:visited {
  color: @color-secondary-1-4;
}

#menu a.active {
  border-style: solid;
  border-color: @color-secondary-1-0;
  border-width: 0px;
  border-bottom-width: @menu_link_active_border_width;
}

h1 {
  margin-bottom: 0;
}

@menu_link_active_border_width: 0.35em;
@menu_link_line_height: 3em;
@header_placeholder_height: @menu_link_line_height +
                            @menu_link_active_border_width +
                            @menu_link_active_border_width +
                            0.2em +
                            2em; /* white space */

#layout tr:first-child {
  height: @header_placeholder_height;
}

#header, #header_0, #header_1, #header_2 {
  width: 100%;
}

#header {
  position: fixed;
  top: 0px;
  z-index: 10000;
}

#header_0 {
  background-color: @color-primary-0;
}

#header_1 {
  height: @menu_link_active_border_width;
  background-color: @color-secondary-2-1;
}

#header_2 {
  height: 0.2em;
  background-color: @color-secondary-1-1;
}

#header_0 #menu {
  height: @menu_link_line_height;
  max-width: 800px;
  margin: auto;
  padding: 0 1em;
  padding-top: @menu_link_active_border_width;
  text-align: right;
}

#content {
  margin: auto;
  max-width: 800px;
  padding: 1em;
  padding-top: 0px;
}

@footer_height: 10em;

#layout tr:nth-child(3) {
  height: @footer_height;
}

#footer {
  background-color: @color-primary-0;
  height: @footer_height;
  border-color: @color-secondary-1-4;
  border-style: solid;
  border-width: 0.1em 0 0 0;
}

.post {
  display: inline-block;
  line-height: 2em;
  text-align: left;
}

.post a {
  color: @color-secondary-1-4;
  font-weight: bold;
  text-decoration: none;
}

.post_date {
  color: @color-secondary-2-2;
}

#about_footer {
  color: @color-secondary-2-1;
}

.about_label {
  color: @color-secondary-1-2;
}

.icon-stackoverflow,
.icon-github,
.icon-linkedin,
.icon-twitter {
  font-size: 2em;
  color: @color-secondary-1-4;
}
