{{partial 'post_header'}}

<h2>Creating two projects</h2>

<pre class="brush: bash">
  # Phonegap
  phonegap create cool-app/ com.companyname.cool-app cool-app
  cd cool-app/
  # Ember
  ember new ember-cool-app
  cd ember-cool-app/
  ember build --environment='production'
  cd ..
</pre>

<p>If you want to debug the Ember app within Phonegap, remove the --environment flag, it will default to "development".</p>

<h2>Copying from Ember to Phonegap</h2>

<p>Copy your assets to Phonegap.</p>
<pre class="brush: bash">
  cp -vR ember-cool-app/dist/assets/ www/
</pre>

Copy from <i>ember-cool-app/dist/index.html</i> to <i>www/index.html</i>
<pre class="brush: diff">
  -&lt;div class="app">                                                        
  -  &lt;h1>PhoneGap&lt;/h1>                                                    
  -  &lt;div id="deviceready" class="blink">                                 
  -    &lt;p class="event listening">Connecting to Devic&lt;/p>              
  -    &lt;p class="event received">Device is Read&lt;/p>                    
  -  &lt;/div>                                                               
  -&lt;div>
  +&lt;script src="assets/vendor-0815f45d85c20b590175f7a4e843eb21.js">&lt;/script>
  +&lt;script src="assets/ember-cool-app-201c7a50ebb6db2e54e2d5bc2b255762.js">&lt;/script>
  &lt;script type="text/javascript" src="cordova.js">&lt;/script>
  &lt;script type="text/javascript" src="js/index.js">&lt;/script>
</pre>

Copy from <i>ember-cool-app/dist/index.html</i> to <i>www/js/index.js</i>
<pre class="brush: diff">
  - var parentElement = document.getElementById(id);                         
  - var listeningElement = parentElement.querySelector('.listening');        
  - var receivedElement = parentElement.querySelector('.received');          
  - 
  - listeningElement.setAttribute('style', 'display:none;');                 
  - receivedElement.setAttribute('style', 'display:block;');                 
  - 
  - console.log('Received Event: ' + id);
  + window.EmberCoolAppENV = {"environment":"production","baseURL":"/","locationType":"auto","EmberENV":{"FEATURES":{}},"APP":{}};
  + window.EmberENV = window.EmberCoolAppENV.EmberENV;                         
  + window.EmberCoolApp = require('ember-cool-app/app')['default'].create(EmberCoolAppENV.APP);
</pre>

<p>
The real trick comes here, we have to change the way Ember will look for routes and assets, the file <i>www/js/index.js</i> needs a change.
</p>
<pre class="brush: diff">
  - window.EmberCoolAppENV = {"environment":"production","baseURL":"/","locationType":"auto","EmberENV":{"FEATURES":{}},"APP":{}};
  + window.EmberCoolAppENV = {"environment":"production","locationType":"none","EmberENV":{"FEATURES":{}},"APP":{}};
</pre>

<h2>Testing it</h2>

<p>
Test the app. Note that I haven't covered how to install an SDK. You'll have to do that or connect an actual device, depending on how you want to test the app.
</p>
<pre class="brush: bash">
  phonegap run android
</pre>

<p>
You should see now, in the upper left corner, a tiny message: <b>Welcome to Ember.js</b>
</p>

{{partial 'post_footer'}}
