@import '../less/colors.less';
@import '../less/colors-classes.less';
@import '../less/post-footer.less';

.icon-link {
  color: @pale-gold;
  font-size: 1.4rem;
}

.icon-link::before {
  margin: 0 0.5rem;
}

.thumb-background {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

.post-img {
  background-color: @color-secondary-2-1;
  border-radius: 7px;
}
.post-img > img {
  margin: auto;
}

.post-toc {
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 0 solid #ebebeb; 
  border-width: 0 13px;
  padding: 2rem 0;
}

ol {
  list-style: upper-roman;
  font-family: monospace;
}

ol li::marker,
ol li::before {
  font-size: 0.9rem;
  color: @color-secondary-2-2;
}

ol li a {
  font-size: 1.1rem;
  text-decoration: underline;
  color: @color-secondary-1-2; 
  text-decoration-color: @color-secondary-1-1;
}
