@import "./colors.less";

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-size: 2.5rem;
  vertical-align: middle;
}

/* Each item has a max-width and grows to fill available space */
div.about-item {
  width: 100%;
  padding: 1rem 0;

  a {
    display: block;
    width: 100%;
  }

  .text {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
}

@media screen and (min-width: 640px) {
  div {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  div {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  div {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  div {
    width: 50%;
  }
}

@media (min-width: 1536px) {
  div {
    width: 25%;
  }
}
