@import "../less/colors.less";

.about {
  margin: 0 auto;

  h1 {
    margin: 0;
  }

  .name {
    font-family: serif;
    font-size: 2.2rem;
    color: @pale-gold;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
  }

  p {
    text-align: justify;
  }

  .icons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .about {
    width: 100%;
    font-size: 1rem;
    padding: 0 1rem;

    .icons {
      grid-template-columns: 1fr;
      padding-bottom: 3rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .about {
    width: 50%;
  }
}

@media (min-width: 1536px) {
  .about {
    width: 50%;
  }
}
