@import "../../less/colors.less";

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-size: 2.5rem;
  vertical-align: middle;
}

/* Each item has a max-width and grows to fill available space */
div {
  flex: 0 0 calc(33%); /* Shows max 4 items per row */
  padding: 1rem;
  border-radius: 8px;
  box-sizing: border-box; /* Ensures padding doesn't add to width */
  margin: auto;

  a {
    display: block;
    width: 100%;
  }

  .text {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  div {
    flex: auto;
  }
}

@media screen and (min-width: 640px) {
  div {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  div {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  div {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  div {
    width: 50%;
  }
}

@media (min-width: 1536px) {
  div {
    width: 25%;
  }
}
