@import '../less/colors.less';

.article {
  line-height: 2rem;
  font-weight: bold;
}

.article a {
  color: @color-secondary-1-4;
  text-decoration: none;
}

.article span {
  background-color: @color-secondary-2-1;  
}

.article span:hover,
.article span:hover {
  background-color: @color-secondary-2-2;  
}

.article a summary {
  /*background-color: #fff;*/
}

.article_description {
  display: inline-block;
}

.header_link {
  background-color: transparent;  
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

hr {
  border-color: #BEBEBE;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}