{{partial 'post_header'}}

<div class="row row_max_w">
  <div class="col-xs-12">

    <div style="overflow: auto;">
      <img src="img/MVC family tree.svg" onerror="this.src=your.png" style="min-width: 500px;">
    </div>

    <h2>Acronyms</h2>

      <h3>TMVE - Thing Model View Editor</h3>
        Trygve Reenskaug writes a memo, 
        <a href="papers/a-note-on-dynabook-requirements.pdf">
          a note on DynaBook requirements
        </a>
        , that describes his design for a project management task.
        A couple of months later in another memo the 
        <a href="">thing-model-view-editor</a>
        metaphor is explored. 

      <h3>MVC - Model View Controller</h3>
        Trygve Reenskaug revamps TMVE into 
        <a href="papers/mvc.pdf">
          MVC  
        </a>.
        Years later Glenn E. Krasner and Stephen T. Pope publish a slight variation in
        <a href="papers/krasner-pope-88.pdf">
          A Cookbook for Using the Model-View-Controller User Interface Paradigm in Smalltalk-80
        </a>.

        <b>AM</b> - Application Model, used by VisualWorks (ParcPlace implementation of Smalltalk)

      <h3>MVP - Model View Presenter</h3>
        First described by Mike Potel from Taligent Inc. and known as
        <a href="papers/mvp-taligent.pdf">Taligent MVP</a>;
        later, it was redefined by Andy Bower and Blair McGlashan from Object Arts Ltd, known as
        <a href="papers/mvp-dolphin.pdf">Dolphin MVP</a>

      <h3>PM - Presentation Model</h3>
        Described by Martin Fowler in
        <a href="http://martinfowler.com/eaaDev/PresentationModel.html">
          Development of Further Patterns of Enterprise Application Architecture.
        </a>

      <h3>MVVM - Model View ViewModel</h3>
        Described by John Gossman from Microsoft in his blog post:
        <a href="http://blogs.msdn.com/b/johngossman/archive/2005/10/08/478683.aspx">
          Introduction to Model/View/ViewModel pattern for building WPF apps
        </a> 

      <h3>PAC - Presentation Abstraction Control</h3>
        Developed independently from MVC by Joëlle Coutaz in:
        <a href="papers/pac.pdf">
          PAC, an Object Oriented Model for Dialog Design.
        </a>

      <h3>Model 2</h3>
        A design pattern used in Java Web applications described in
        <a href="http://www.kirkdorffer.com/jspspecs/jsp092.html#model">
          JavaServer Pages - Specification 0.92
        </a>. A year later after release it was associated with MVC.

    <h2>Color codes</h2>

    <p>
      Different boxes have different colors, each color corresponds to a 
      definition of the term <b>Controller</b>.
      Model and View, although their definitions sometimes vary a little, they are usually well understood.
      The Controller is the one that can be confusing.
    </p>

    <ul>
      <li>
        TODO: definitions by color code
      </li>
    </ul>

  </div>
</div>

{{partial 'post_footer'}}
