<b>DRAFT, Do not share yet please.</b><br>

<style>
  .row_max_w {
    max-width: 1024px;
  }
  #mvctree {
    height: 100%;
    /* 
    TODO: 
    Review why Raphael.js picks up on this value for Element.attr.stroke-width.
    */
    border: 0px solid #000; 
  }
  svg { 
    height: 150%;
    width: 100%; 
  }
  .text_box_info {
    padding-top: 70px; // Equal to header height
  } 
  .text_box_tech {
  }
  .chbox_overlay {
    transform: scale(2);
    -webkit-transform: scale(2);
  }
  .labels {
    fonts-size: 1rem;
  }
</style>

{{partial 'post_header'}}

<div class="row row_max_w">
  <div class="col-xs-12">
    <p>
      Click on each element to learn more about it.
    </p>
  </div>
</div>

<div class="row row_max_w">
  <div class="col-xs-6 col-sm-3">
    <input class='chbox_overlay' type='checkbox' onclick="T.toggleTech('te_sig');" checked>
    Most Significant 
  </div>
  <div class="col-xs-6 col-sm-3">
    <input class='chbox_overlay' type='checkbox' onclick="T.toggleTech('te_java');" checked>
    Java
  </div>
  <div class="col-xs-6 col-sm-3">
    <input class='chbox_overlay' type='checkbox' onclick="T.toggleTech('te_js');" checked>
    JavaScript
  </div>
  <div class="col-xs-6 col-sm-3">
    <input class='chbox_overlay' type='checkbox' onclick="T.toggleTech('te_ms');" checked>
    Microsoft
  </div>
  <div class="col-xs-6 col-sm-3">
    <input class='chbox_overlay' type='checkbox' onclick="T.toggleTech('te_php');" checked>
    PHP
  </div>
  <div class="col-xs-6 col-sm-3">
    <input class='chbox_overlay' type='checkbox' onclick="T.toggleTech('te_python');" checked>
    Python
  </div>
  <div class="col-xs-6 col-sm-3">
    <input class='chbox_overlay' type='checkbox' onclick="T.toggleTech('te_ruby');" checked>
    Ruby
  </div>
</div>

<div class="row row_max_w">
  <div class="col-xs-12">
    <div id="mvctree"> <!-- SVG container --> </div>
  </div>
</div>

<h2>Design Patterns</h2>

<div id="tmve" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1979 TMVE - Thing Model View Editor</h3>
        Trygve Reenskaug writes a memo, 
        <a href="papers/a-note-on-dynabook-requirements.pdf">
          a note on DynaBook requirements
        </a>
        , that describes his design for a project management task.
        A couple of months later in another memo the 
        <a href="papers/tmve.pdf">thing-model-view-editor</a>
        metaphor is explored. 
  </div>
</div>
</div>

<div id="mvc79" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1979 MVC - Model View Controller</h3>
        Trygve Reenskaug revamps TMVE into <a href="papers/mvc.pdf">MVC</a>.
  </div>
</div>
</div>

<!-- 1987 -->
<div id="pac" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1987 PAC - Presentation Abstraction Control</h3>
        Developed independently from MVC by Joëlle Coutaz in:
        <a href="papers/pac.pdf">
          PAC, an Object Oriented Model for Dialog Design.
        </a>

  </div>
</div>
</div>

<!-- 1988 -->
<div id="mvc88" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1988 MVC - Krasner & Pope</h3>
        Glenn E. Krasner and Stephen T. Pope published a variation of MVC in
        <a href="papers/krasner-pope-88.pdf">
          A Cookbook for Using the Model-View-Controller User Interface Paradigm in Smalltalk-80
        </a>.
  </div>
</div>
</div>

<!-- 1993 -->
<div id="am" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1993 Application Model</h3>
        Used in VisualWorks, a Smalltalk implementation done by ParcPlace. 

  </div>
</div>
</div>

<!-- 1995 -->
<div id="observer" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1995 Observer Pattern</h3>
        First described in the book Design Patterns: Elements of Reusable Object-Oriented Software by
        Erich Gamma, Richard Helm, Ralph Johnson, John Vlissides.
        The authors are often referred to as the Gang of Four (GoF).
  </div>
</div>
</div>

<!-- 1996 -->
<div id="mvptaligent" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1996 MVP - Model View Presenter</h3>
        First described by Mike Potel from Taligent Inc. and known as
        <a href="papers/mvp-taligent.pdf">Taligent MVP</a>.

  </div>
</div>
</div>

<!-- 1998 -->
<div id="model2" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1998 Model 2</h3>
        A design pattern used in Java Web applications described in
        <a href="http://www.kirkdorffer.com/jspspecs/jsp092.html#model">
          JavaServer Pages - Specification 0.92
        </a>. A year later after release it was associated with MVC.

  </div>
</div>
</div>

<!-- 2000 -->
<div id="mvpdolphin" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>2000 MVP - Model View Presenter</h3>
        Redefined by Andy Bower and Blair McGlashan from Object Arts Ltd, known as
        <a href="papers/mvp-dolphin.pdf">Dolphin MVP</a>

  </div>
</div>
</div>

<div id="pm" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>2004 Presentation Model</h3>
        Described by Martin Fowler in
        <a href="http://martinfowler.com/eaaDev/PresentationModel.html">
          Development of Further Patterns of Enterprise Application Architecture.
        </a>

  </div>
</div>
</div>

<!-- 2005 -->
<div id="mvvm" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>2005 MVVM - Model View ViewModel</h3>
        Described by John Gossman from Microsoft in his blog post:
        <a href="http://blogs.msdn.com/b/johngossman/archive/2005/10/08/478683.aspx">
          Introduction to Model/View/ViewModel pattern for building WPF apps
        </a>. From the beginning it was compared to Presentation Model and later, in 2008, 
        <a href="http://blogs.msdn.com/b/johngossman/archive/2008/05/28/presentationmodel-and-wpf.aspx">
          J. Gossman posted
        </a>:
        <blockquote>
        My opinion at this point is the Model-View-ViewModel pattern is a WPF-specific version of the PresentationModel pattern.
        </blockquote>

  </div>
</div>
</div>

<br>
<br>
<h2>Technologies</h2>

<!-- 1995 -->
<div id="msaccess" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1995 MS Access</h3>
  </div>
</div>
</div>

<!-- 1998 -->
<div id="swing" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1998 SWING</h3>
  </div>
</div>
</div>

<!-- 1999 -->
<div id="j2ee" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>1999 J2EE</h3>
  </div>
</div>
</div>

<!-- 2000 -->
<div id="struts" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>2000 Struts</h3>
  </div>
</div>
</div>

<!-- 2005 -->
<div id="rails" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>2005 Rails</h3>
  </div>
</div>
</div>

<!-- 2007 -->
<div id="aspnet" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>2007 ASP.NET MVC</h3>
  </div>
</div>
</div>

<!-- 2007 -->
<div id="silverlight" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>2007 Silverlight</h3>
  </div>
</div>
</div>

<!-- 2009 -->
<div id="angular" class="text_box_info">
<div class="row row_max_w">
  <div class="col-xs-12">
      <h3>2009 Angular.js</h3>
  </div>
</div>
</div>

<!-- \{{partial 'post_footer'}} -->

<script>
var T = {
  colW: 130 + 10,
  paddingH: 10,
  paddingV: 20,
  rowH: 50 + 20,

  attr: {
    arrowHead: {
      'fill': '#663c4d',
      'stroke': '#663c4d', 
      'stroke-width': 0
    },
    dashedLine: {
      'stroke': '#464646', 
      'stroke-dasharray': '-',
      'stroke-width': 1.5
    },
    line: {
      'fill': '#663c4d',
      'stroke': '#663c4d', 
      'stroke-width': 1.2
    },
    textRect: {
      'fill': '#FFF', 
      'stroke': '#663c4d', 
      'stroke-width': 1
    },
    textEllipse: {
      'fill': '#CCFF9B', 
      'stroke': '#663c4d', 
      'stroke-width': 1
    },
    textBox: {
      'font-size': 14
    }
  },

  site: {
    root: $('html, body')
  },

  toggleTech: function(className) {
    var selector = '.' + className;
    var elems = $(selector),
        className = elems.attr('class');

    className = (/ hidden/).test(className) ? className.replace(/hidden/, '') :
                                             className + ' hidden';

    elems.attr('class', className);
  },

  draw: null // drawing helpers, redefined below
};

T.draw = {

_textRect: function(containerNode, textNode, elemId) {

  containerNode.style.cursor = 'pointer';
  textNode.style.cursor = 'pointer';

  containerNode.onclick = function() {
    T.site.root.animate({
      scrollTop: $(elemId).offset().top
    }, 300);
    window.location.hash = elemId;
  };
  textNode.onclick = containerNode.onclick;
},

textEllipse: function(paper, x, y, text, elemId, className) {
  var attr = T.attr.textEllipse;
  var strokeW = attr['stroke-width'];
  x = x + T.colW / 2;
  y = y + T.rowH - (T.paddingV / 2);
  var width = (130 - (strokeW * 2)) / 2;
  var height = (50 - (strokeW * 2)) / 2;

  if ( className ) {
    var fillColor = null;
    switch ( className ) {
      case 'te_sig': fillColor = '#a184a7'; break;
      case 'te_java': fillColor = '#6AF4FF'; break;
      case 'te_js': fillColor = '#FFFD6A'; break;
      case 'te_ms': fillColor = '#7CC2FF'; break;
      case 'te_php': fillColor = '#A89BFF'; break;
      case 'te_python': fillColor = '#9BFFA4'; break;
      case 'te_ruby': fillColor = '#FF9BC2'; break;
    }
    attr.fill = fillColor;
  }
  var ellipse = paper.ellipse(x, y, width, height)
                     .attr(attr);
  var text = paper.text(x, y, text)
                  .attr(T.attr.textBox)
                  .toFront();
  if ( className ) {
    $(ellipse.node).attr('class', className);
    $(text.node).attr('class', className);
  }
  this._textRect(ellipse.node, text.node, elemId);
},

textRect: function(paper, x, y, text, elemId) {
  var attr = T.attr.textRect;
  var strokeW = attr['stroke-width'];
  x = x + strokeW + T.paddingH/2;
  y = y + strokeW + T.paddingV/2;
  var width = 130 - (strokeW * 2);
  var height = 50 - (strokeW * 2);

  var rect = paper.rect(x, y, width, height, 7)
                  .attr(attr);
  var text = paper.text(x + width/2, y + height / 2, text)
                  .attr(T.attr.textBox)
                  .toFront();

  this._textRect(rect.node, text.node, elemId);
},

yearLine: function(paper, x, y, length, year) {
  var fontS = 12;
  paper.text(x + fontS, y, year)
       .attr({'font-size': fontS});
  x = 4 * fontS; // 4 chars
  paper.path('M '+x+' '+y+' H ' + length);
},

lineH: function(paper, attr, x, y, colsCount) {
  y += T.rowH / 2;
  var pos = x + (colsCount * T.colW)
  paper.path('M '+x+' '+y+' H' + pos)
       .attr(attr);
},

lineV: function(paper, attr, x, y, rowsCount) {
  x += T.colW / 2;
  var pos = y + (rowsCount * T.rowH);
  paper.path('M '+x+' '+y+' V' + pos)
       .attr(attr);
},

/* bind, with a line, a row with the one below it */
bindRows: function(paper, attr, x, y) {
  x += T.colW / 2;
  var hp = T.paddingV / 2;
  y += T.rowH - hp; 
  return 'M ' + x + ' '+ y +' V ' + (y + hp) + ' ';
},

arrowV: function(paper, attr, x, y) {
  x += T.colW / 2;
  var hp = T.paddingV / 2;
  var px1 = (x-hp),
      px2 = px1 + T.paddingV,
      y2 = y + hp;
  return 'M ' + px1 + ' ' + y +
         ' H ' + px2 + ' ' +
         ' L ' + x + ' ' + y2 + 'Z ';
}

}; // T.draw, drawing helpers

$(function() { // Draw the tree

  var col0 = T.paddingH;
  var col1 = col0 + T.colW;
  var col2 = col1 + T.colW;
  var col3 = col2 + T.colW;
  var col4 = col3 + T.colW;
  var col5 = col4 + T.colW;
  var col6 = col5 + T.colW;

  var row0 = T.paddingV;
  var row1 = row0 + T.rowH;
  var row2 = row1 + T.rowH;
  var row3 = row2 + T.rowH;
  var row4 = row3 + T.rowH;
  var row5 = row4 + T.rowH;
  var row6 = row5 + T.rowH;
  var row7 = row6 + T.rowH;
  var row8 = row7 + T.rowH;
  var row9 = row8 + T.rowH;
  var row10 = row9 + T.rowH;
  var row11 = row10 + T.rowH;
  var row12 = row11 + T.rowH;
  var row13 = row12 + T.rowH;

  var w = col6 + T.colW;
  var h = row13 + T.rowH;

  // Raphael (at least as of 2.1.0) always sets a fixed width/height i
  // *on canvas creation* (reflected in 'width' and 'height' HTML attributes) - 
  // if you don't specify width and height, the canvas will be sized to fully 
  // fill its container. Fortunately, though, CSS-based width/height 
  // specifications take precedence (see 'svg' style) and thus allow for dynamic resizing.
  var HTMLElement = $('#mvctree')[0];
  var paper = Raphael(HTMLElement);

  // Set the view box, which effectively activates scaling.
  paper.setViewBox(0, 0, w, h, false);

  // !! As of Raphael 2.1.0, specifying true as the `fit` parameter to `setViewBox()` 
  // translates into an invalid value for the SVG `preserveAspectRatio` attribute: "meet". 
  // To rule out this problem, we set that attribute directly.
  // always scale to fill container, without preserving aspect ratio.
  //paper.canvas.setAttribute('preserveAspectRatio', 'true'); 

  
  for (var x = 0 + T.paddingH; x < w; x += T.colW) {
    paper.path('M '+x+' 0 V ' + h)
         .attr({'stroke': '#909090'});
  }
  for (var y = 0 + T.paddingV; y < h; y += T.rowH) {
    paper.path('M 0 '+y+' H ' + w)
         .attr({'stroke': '#909090'});
  }
  

  T.draw.yearLine(paper, col0, row2, w, '1980');
  T.draw.yearLine(paper, col0, row4, w, '1990');
  T.draw.yearLine(paper, col0, row8, w, '2000');
  T.draw.yearLine(paper, col0, row13, w, '2010');

  T.draw.textRect(paper, col0, row0, 'TMVE\n1979 - Reenskaug', '#tmve');
  T.draw.textRect(paper, col0, row1, 'MVC\n1979 - Reenskaug', '#mvc79');
  T.draw.textRect(paper, col0, row3, 'MVC\n1988 - K. & P.', '#mvc88');
  T.draw.textRect(paper, col1, row6, 'MVP\n1996 - Taligent', '#mvptaligent');
  T.draw.textRect(paper, col1, row8, 'MVP\n2000 - Dolphin', '#mvpdolphin');
  T.draw.textRect(paper, col2, row4, 'Application Model\n1993 - VisualWorks', '#am');
  T.draw.textRect(paper, col2, row9, 'Presentation Model\n2004 - Fowler', '#pm');
  T.draw.textRect(paper, col3, row10, 'MVVM\n2005 - Microsoft', '#mvvm');
  T.draw.textRect(paper, col4, row2, 'PAC\n1987 - Coutaz', '#pac');
  T.draw.textRect(paper, col0, row7, 'Model 2\n1998 - J2EE', '#model2');
  T.draw.textRect(paper, col4, row9, 'MVVP\n2004??', '');
  T.draw.textRect(paper, col5, row4, 'Data Binding\n1995??', '');
  T.draw.textRect(paper, col6, row5, 'Observer Pattern\n1995 - GoF', '#observer');

  /* Technologies */

  T.draw.textEllipse(paper, col5, row4, 'MS-Access\n1995', '#msaccess', 'te_ms');
  T.draw.textEllipse(paper, col3, row10, 'Silverlight\n2007', '#silverlight', 'te_ms');
  T.draw.textEllipse(paper, col0, row8, 'Struts\n2000', '#struts', 'te_java');
  T.draw.textEllipse(paper, col0, row10, 'Django\n2005', '#struts', 'te_python');
  T.draw.textEllipse(paper, col0, row10, 'ASP.NET MVC\n2007', '#aspnet', 'te_ms');

  T.draw.textEllipse(paper, col0, row9, 'Rails\n2003', '#rails', 'te_ruby');
  T.draw.textEllipse(paper, col2, row11, 'Angular.js\n2009', '#angular', 'te_js');
  T.draw.textEllipse(paper, col0, row6, 'SWING\n1998', '#swing', 'te_java');

  T.draw.textEllipse(paper, col0, row9, 'Rails\n2003', '#rails', 'te_sig');
  T.draw.textEllipse(paper, col2, row11, 'Angular.js\n2009', '#angular', 'te_sig');
  T.draw.textEllipse(paper, col0, row6, 'SWING\n1998', '#swing', 'te_sig');

  var attr = T.attr.line;
  var path = T.draw.bindRows(paper, attr, col0, row0);
  paper.path(path).attr(attr);

  attr = T.attr.arrowHead;
  path = T.draw.arrowV(paper, attr, col0, row1);
  paper.path(path).attr(attr);
  path += T.draw.arrowV(paper, attr, col0, row3);
  paper.path(path).attr(attr);
  path += T.draw.arrowV(paper, attr, col1, row6); // mvp taligent
  paper.path(path).attr(attr);
  path += T.draw.arrowV(paper, attr, col1, row8); // mvp dolphin
  paper.path(path).attr(attr);
  path += T.draw.arrowV(paper, attr, col2, row4); // am 
  paper.path(path).attr(attr);
  path += T.draw.arrowV(paper, attr, col2, row9); // pm
  paper.path(path).attr(attr);
  path += T.draw.arrowV(paper, attr, col3, row10); // mvvm
  paper.path(path).attr(attr);

  attr = T.attr.line;
  T.draw.lineV(paper, attr, col0, row2, 1);
  T.draw.lineH(paper, attr, col1, row3, 2.515);
  T.draw.lineV(paper, attr, col1, row4, 2); // mvp taligent
  T.draw.lineV(paper, attr, col1, row3 + T.rowH/2, 0.5);
  T.draw.lineV(paper, attr, col2, row3 + T.rowH/2, 0.5);
  T.draw.lineV(paper, attr, col3, row3 + T.rowH/2, 0.5);
  T.draw.lineV(paper, attr, col1, row7, 1);
  T.draw.lineV(paper, attr, col2, row5, 4);
  T.draw.lineV(paper, attr, col3, row4, 6);

  attr = T.attr.dashedLine;
  path = T.draw.lineV(paper, attr, col2, row10, 0.5);
  path += T.draw.lineH(paper, attr, col2 + T.colW/2, row10, 0.5);
});
</script>
