{{#layout}}

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <p>
        My name is Gast&oacute;n I. Silva.
        I am a software engineer that started off as an open source enthusiast and
        a full stack intern. Later I took a deep dive into SQL optimizations, solving
        bugs and backporting fixes for the Oracle RDBMS.
        After a couple of years I went back to web development; discovered
        that JavaScript had taken over the world and loved how much more sophisticated "web sites" are now. 
      </p>
    </div>
  </div>

  <div class="row text-center">
    <div class="mw320 text-left inline-block">
      <a href="https://twitter.com/givanse" target="_blank" class="findme_at">
        <i class="icon-twitter"></i></a>
      @givanse
    </div>

    <div class="mw320 text-left inline-block">
      <a href="mailto:givanse@gmail.com" class="findme_at">
        <i class="icon-email"></i></a>
      givanse@gmail.com
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-5 col-sm-2">
      <img src="/static/img/givanse.png" alt="Gastón's photo" class="img-responsive">
    </div>
  </div>

  <br>
  <br>

{{/layout}}
