{{#layout}}

<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <p>
      My name is 
      <abbr title="Gast&oacute;n Iv&aacute;n Silva Echegaray">Gast&oacute;n I. Silva</abbr> 
      and I like to design and build all kinds of stuff.
    </p>
    <p>
      I am a software engineer that started off as an open source enthusiast and
      a full stack intern. Then I took a deep dive into SQL optimizations, solving
      bugs and backporting fixes for the Oracle RDBMS.
      After a couple of years I went back to web development and discovered
      that JavaScript had taken over the world. 
    </p>
  </div>
</div>

<div class="row text-center">
    <a href="https://twitter.com/givanse" target="_blank" class="findme_at">
      <i class="icon-twitter"></i></a>
    <a href="http://stackoverflow.com/users/7852/givanse" target="_blank" class="findme_at">
      <i class="icon-stackoverflow"></i></a>
    <a href="https://github.com/givanse" target="_blank" class="findme_at">
      <i class="icon-github"></i></a>
    <br>
    <br>
    givanse@gmail.com
</div>

<br>
<br>

<div class="row">
  <div class="col-xs-offset-3 col-xs-6 col-sm-offset-5 col-sm-2">
    <img src="/static/img/givanse.png" alt="Gastón's photo" class="img-responsive">
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <p class="text-center">
      built with <a href="http://broccoli-taco.com/" target="_blank">broccoli-taco</a> 
    </p>
  </div>
</div>

{{/layout}}
