{{#layout}}

<h1>Articles</h1>

{{#each page.articlesList}} 
  {{created}}    
  {{updated}}    
  <!--link-to checks for broken links and we are dynamically generating them-->
  <a href="/{{filename}}">
    {{title}}
  </a>
  <br>
{{/each}}

{{/layout}}
