{{#layout}}

<article>

  <header>
    <h1>
      {{page.title}}
    </h1>
    <time>{{page.created}}</time>
    <time>{{page.updated}}</time>    
  </header>

  {{#markdown}}
    {{page.body}}
  {{/markdown}}

  <footer>
  </footer>

</article>


{{/layout}}
