
<div class="col-xs-12 post_content_wrapper">

  <style>
    body {
      background-color: #f0f0f0;
    }
  </style>

  <header>
    <h1>{{title}}</h1>

    {{#if updated}}
      <s>
    {{/if}}
      <time class='post_date'>{{created}}</time>
    {{#if updated}}
      </s>
    {{/if}}
    <br>

    <time class='post_date'>{{updated}}</time>
    <br>
    <br>
  </header>
