<style>
    body {
        background-color: #f0f0f0;
    }
    #content {
        max-width: 900px;
    }
</style>

<header>
    <h1>{{title}}</h1>
    <time class='post_date'>{{date}}</time>
    <br>
    <br>
</header>
