<style>
    #content {
        text-align: center;
    }
    #about {
        display: inline-block;
        text-align: left;
    }
</style>

<article id="about">

<section>
    <span class="about_label">currently:</span> 
    <div>Bootstrapping a startup,</div>

    <div>Developing hybrid apps & </div>

    <div>Doing design thinking.</div>
</section>
<br>
<br>

<section>
    <div>
      <a href="http://stackoverflow.com/users/7852/givanse" target="_blank">
      <i class="icon-stackoverflow"></i></a>

      <a href="https://github.com/givanse" target="_blank">
      <i class="icon-github"></i></a>

      <a href="https://twitter.com/givanse" target="_blank">
      <i class="icon-twitter"></i></a>

      <a href="http://www.linkedin.com/profile/view?id=73354565" target="_blank">
      <i class="icon-linkedin"></i></a>
    </div>

</section>
<br>
<br>

<section>
    <span class="about_label">
    email:</span> 
    <div>hello <i>at</i> givan.se</div>
</section>
<br>
<br>
<br>

<section id="about_footer">
    built with: 
    <a href="http://iamstef.net/ember-cli" target="_blank">ember-cli</a>
</section>

</article>
