<div class="row">
  <div class="col-xs-2 col-sm-4">
  </div>
  <div class="col-xs-8 col-sm-4">
    <span class="about_label">currently:</span> 
  </div>
</div>

<div class="row">
  <div class="col-xs-2 col-sm-4">
  </div>
  <div class="col-xs-8 col-sm-4">
    Developing hybrid apps & 
  </div>
</div>

<div class="row">
  <div class="col-xs-2 col-sm-4">
  </div>
  <div class="col-xs-8 col-sm-4">
    Doing design thinking.
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-xs-2 col-sm-4">
  </div>
  <div class="col-xs-8 col-sm-4">
    <span class="about_label">find me at:</span> 
  </div>
</div>

<div class="row text-center">
    <div class="col-xs-2 col-sm-4 col-md-4">
    </div>
    <div class="col-xs-3 col-sm-2 col-md-1">
      <a href="https://twitter.com/givanse" target="_blank" class="findme_at">
        <i class="icon-twitter"></i></a>
    </div>
    <div class="col-xs-3 col-sm-2 col-md-1">
      <a href="http://stackoverflow.com/users/7852/givanse" target="_blank" class="findme_at">
        <i class="icon-stackoverflow"></i></a>
    </div>

    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
    </div>

    <div class="col-xs-2 col-sm-4 hidden-md hidden-lg">
    </div>
    <div class="col-xs-3 col-sm-2 col-md-1">
      <a href="http://www.linkedin.com/profile/view?id=73354565" target="_blank" class="findme_at">
        <i class="icon-linkedin"></i></a>
    </div>
    <div class="col-xs-3 col-sm-2 col-md-1">
      <a href="https://github.com/givanse" target="_blank" class="findme_at">
        <i class="icon-github"></i></a>
    </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-xs-2 col-sm-4">
  </div>
  <div class="col-xs-8 col-sm-4">
    <span class="about_label">email:</span> 
    <div>hello <i>at</i> givan.se</div>
  </div>
</div>
