<style>
    #content {
        text-align: center;
    }
    #about {
        display: inline-block;
        text-align: left;
    }
</style>

<article id="about">

<section>
    &nbsp;<span class="alabel">currently:</span> 
    Bootstrapping a startup,<br>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Developing hybrid apps & <br>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Doing design thinking.
</section>
<br>
<br>

<section>
    <span class="alabel">find me at:</span>
    <a href="http://stackoverflow.com/users/7852/givanse" target="_blank">
    <i class="icon-stackoverflow"></i></a>

    <a href="https://github.com/givanse" target="_blank">
    <i class="icon-github"></i></a>

    <a href="https://twitter.com/givanse" target="_blank">
    <i class="icon-twitter"></i></a>

    <a href="http://www.linkedin.com/profile/view?id=73354565" target="_blank">
    <i class="icon-linkedin"></i></a>
</section>
<br>
<br>

<section>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="alabel">
    email:</span> 
    hello <i>at</i> givan.se
</section>
<br>
<br>
<br>

<section id="about_footer">
    built with: 
    <a href="http://iamstef.net/ember-cli" target="_blank">ember-cli</a>
</section>

</article>
