<div class="row">
  <div class="hidden-xs col-sm-1">
  </div>
  <div class="col-xs-12 col-sm-10">
    <p>
      My name is 
      <abbr title="Gast&oacute;n Iv&aacute;n Silva Echegaray">Gast&oacute;n I. Silva</abbr> 
      and I like to design and build all kinds of stuff.
    </p>
    <p>
      I have a B.S. in Computer Science and in the past I've worked 
      developing websites and optimizing queries.
      In my spare time I contribute to open source projects.
    </p>
  </div>
</div>

<div class="row text-center">
    <a href="https://twitter.com/givanse" target="_blank" class="findme_at">
      <i class="icon-twitter"></i></a>
    <a href="http://stackoverflow.com/users/7852/givanse" target="_blank" class="findme_at">
      <i class="icon-stackoverflow"></i></a>
    <a href="https://github.com/givanse" target="_blank" class="findme_at">
      <i class="icon-github"></i></a>
    <br>
    <br>
    <a href="mailto:hello@givan.se?Subject=Hello!" target="_top">
      hello@givan.se
    </a>
</div>
