<span class="alabel">&nbsp;currently:</span> 
Bootstrapping a startup,<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Developing hybrid apps & <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Doing design thinking.
<br>
<br>

<span class="alabel">find me at:</span>
Twitter Goodreads Github Stackoverflow Linkedin
<br>
<br>

<span class="alabel">&nbsp;&nbsp;&nbsp;&nbsp;
email:</span> 
hello <i>at</i> givan.se
<br>
<br>
<br>

<div id="about_footer">
    site built with 
    <a href="http://iamstef.net/ember-cli" target="_blank">ember-cli</a>
</div>
