<div class="row">
  <div class="hidden-xs col-sm-1">
  </div>
  <div class="col-xs-12 col-sm-10">
    <p class="text-justify">
      My name is 
      <abbr title="Gast&oacute;n Iv&aacute;n Silva Echegaray">Gast&oacute;n I. Silva</abbr> 
      and I like to design and build all kinds of stuff.
    </p>
    <p class="text-justify">
      I have a B.S. in Computer Science and in the past I have worked 
      developing websites, building 
      <abbr title="Customer Relationship Management" class="initialism">CRM</abbr>s
      , optimizing queries and debugging C code. 
    </p>
    <p class="text-justify">
      In my spare time I contribute to open source projects. Long ago, I wrote one called 
      <a href="http://sourceforge.net/projects/conkygui" target="_blank">Conky GUI</a>.
    </p>
    <p class="text-justify">
      Currently, I am a student of the design thinking field; and work on mobile apps using web technologies 
      <abbr title="Also Known As" class="initialism">AKA</abbr> hybrid apps.
    </p>
  </div>
</div>

<div class="row">
  <div class="hidden-xs col-sm-1">
  </div>
  <div class="col-xs-12 col-sm-10">
    <span class="about_label">email:</span> hello@givan.se
  </div>
</div>

<br>

<div class="row">
  <div class="hidden-xs col-sm-1">
  </div>
  <div class="col-xs-12 col-sm-10">
    <span class="about_label">find me at:</span>
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-3 col-sm-2">
  </div>

  <div class="col-xs-3 col-sm-2">
    <a href="https://twitter.com/givanse" target="_blank" class="findme_at">
      <i class="icon-twitter"></i></a>
  </div>
  <div class="col-xs-3 col-sm-2">
    <a href="http://stackoverflow.com/users/7852/givanse" target="_blank" class="findme_at">
      <i class="icon-stackoverflow"></i></a>
  </div>

  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  </div>

  <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
  </div>

  <div class="col-xs-3 col-sm-2">
    <a href="http://www.linkedin.com/profile/view?id=73354565" target="_blank" class="findme_at">
      <i class="icon-linkedin"></i></a>
  </div>
  <div class="col-xs-3 col-sm-2">
    <a href="https://github.com/givanse" target="_blank" class="findme_at">
      <i class="icon-github"></i></a>
  </div>
</div>
