<div id="header">
    <div id="header_0">
        <div id="menu">
            {{link-to 'Posts' 'posts'}}
            {{link-to 'About' 'about'}}
        </div>
    </div>
    <div id="header_1"></div>
    <div id="header_2"></div>
</div>

<div id="content">
    {{outlet}}
</div>
