<header id="header" class="container">
  <div id="header_0" class="row">

    <nav id="menu" class="row_max_w">
      {{link-to 'articles' 'posts'}}<!--
      -->{{link-to 'about' 'about'}}
    </nav>

  </div>
  <div id="header_1" class="row"></div>
  <div id="header_2" class="row"></div>
</header>

<div id="layout">

  <div class="container">
    <div id="header_placeholder" class="row"></div>
    {{outlet}}
  </div>

  <div id="sticky_footer_push"></div>
</div>

<div id="sticky_footer"></div>
