<style>
    #content {
        text-align: center;
    }
</style>

<div style="display: inline-block; text-align: left;">
{{#each}}
    <div class="post">
        {{#link-to 'post' id}}{{title}}{{/link-to}}
        <span class="post_date">~ {{date}}</span>
        <br>
        <span class="post_description">{{description}}</span>
    </div>
    <br>
{{/each}}
</div>
