<style>
    #content {
        text-align: center;
    }
</style>

<article style="display: inline-block; text-align: left;">
{{#each}}
    <class="post">
        {{#link-to 'post' id}}{{title}}{{/link-to}}
        <time class="post_date">~ {{date}}</time>
        <br>
        <summary class="post_description">{{description}}</summary>
    </div>
    <br>
{{/each}}
</article>
